@font-face {
    font-family: 'pangolinnormal';
    src: url('font/pangolin-webfont.woff') format('woff'),
         url('font/pangolin-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #474747;
    border: none;
    padding: none;
    margin: 0;
    overflow: hidden;

}
canvas{
    position: relative;
    top: 0;
    left: 0%;
    border: none;
    padding: none;
}
#bar{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 25%;
    background-color: #474747;
}
ul{
    position: relative;
    left: 50%;
}

#sentences{
    font-family: 'pangolinnormal';
    font: 'pangolinnormal';
    position: absolute;
    top: 5%;
    left: 50%;
    height: 66%;
    width: 50%;
    border: none;
    padding: none;
    background-color: #474747;
    overflow-y: visible;
    overflow-x: hidden;
    /*overflow: scroll;                   /*General*/
    overflow: -moz-scrollbars-vertical;     /*Mozilla*/
    -ms-overflow-style: none;           /*Microsoft Edge*/
}

input{
    position: relative;
    left: 5%;
    width: 90%;
    height: 5%;

    background-color: white;
    border-color: #303030;
    border-style: solid;
}
input:focus{
    border-color: yellow;
}

.sentInput {
    font-family: 'pangolinnormal';
    font-size: 15px;
}
.tab {
    overflow: hidden;
    background-color: #1f1f1f;
    color: white;
}

#title{
    text-align: center;
    font-family: 'pangolinnormal';
    font-size: 1000%;
}
#startButton{
    position: absolute;
    font-family: 'pangolinnormal';
    font-size: 300%;
    left: 20%;
    top: 50%;
    height: 10%;
    width: 25%;
    border-radius: 2%;
}
#helpButton{
    position: absolute;
    font-family: 'pangolinnormal';
    font-size: 300%;
    right: 20%;
    top: 50%;
    height: 10%;
    width: 25%;
    border-radius: 2%;
}

button, a{
    position: relative;
    text-align: center;
    top: 0%;
    width: 10%;
    height: 40%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5%;
    background-color: #1f1f1f;
    color: white;
    transition: 0.3s;
    text-decoration: none;
    padding: 14px 16px;
}

button:hover, a:hover {
    background-color: #aaa;
    color: #474747;
}

button.active {
    background-color: #ccc;
    color: #474747;
}

.dimButtons {
    position: relative;
    left: 10%;
}

#newSentButton{
    position: inherit;
    float: right;
}

#delSentButton{
  position: inherit;
  float: right;
}

#evalSentButton{
  position: inherit;
  float: right;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
}

#loadFile {
    width: 45%;
    height: 5%;
    border-width: thin;

}

#filename {
    width: 45%;
}

#saveButton {
    position: relative;
    top: inherit;
    left: 70%;
}
